body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:#f7ff02;
}

.landing {
  display: flex;
  height: 100vh;
}

.landing-left {
  flex: 1;
  background: #00aaff;
  color: white;
  text-align: center;
  padding: 40px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.landing-right {
  flex: 2;
  padding: 60px;
}

.socials a img {
  width: 30px;
  margin: 0 8px;
  transition: transform 0.3s;
}

.socials a img:hover {
  transform: scale(1.2);
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #00aaff;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.08);
  background:#f59816;
}

.desc {
  margin-top: 20px;
}
