body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7ff02;
}

.cv-container {
  display: flex;
}

.sidebar {
  width: 300px;
  background: #00aaff;
  color: white;
  padding: 12px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.contact {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0;
}

.socials a img {
  width: 30px;
  margin: 0 8px;
  transition: transform 0.3s;
}

.socials a img:hover {
  transform: scale(1.2);
}

.cv-main {
  flex: 1;
  padding: 40px;
}

.cv-main h2 {
  border-bottom: 2px solid #00aaff;
  padding-bottom: 5px;
  margin-top: 20px;
}

.year {
  float: right;
  font-size: 14px;
  color: gray;
}

.btn {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.08);
  background:#f59816;
}
